body {margin:20px;}

img {max-width:80%; width:80%;  margin-right:auto; margin-left:auto; text-align:center; display:block;}

.sloupce{-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */
column-count:2;


-webkit-column-rule:2px solid #999; /* Chrome, Safari, Opera */
-moz-column-rule:2px solid #999; /* Firefox */
column-rule:2px solid #999;
}

.sloupce div {display: inline-block; width:100%; maw-width:100%;}

.red{color:red;}

.date, .title, .author {text-align:center;}

li {
    -webkit-column-break-inside:avoid;
       -moz-column-break-inside:avoid;
            column-break-inside:avoid;
}

.caption{color:gray; margin-right:auto; margin-left:auto; font-size:70%; text-align:center;}

blockquote{
color:black; 
background-color:#d2ffd2; 
padding:5px; 
border:solid #006131;
}

blockquote em {color:red;}

def blockquote{
background-color:#eee; 
color:black; 
padding:5px; 
}

.slide h1 {border-bottom:solid 5px #006131; color: #006131;}

.titlepage h1 {border-bottom:none; color: #222; color: #006131;}

h1{ clear:both;}

div.toolbar {background-color: #006131;}
.toolbar  a:link {color: white;}
.toolbar  a {color: white;}
.toolbar  a:visited {color: white;}
.toolbar  {color: white;}
div.toolbar {color: white;}

div.slidy_toc {background: none repeat scroll 0 0 #006131; }
div.slidy_toc, div.slidy_toc a{color: white; }

.sloupce_ .figure{max-width:30%; display:inline-block;  vertical-align:top;}

.sloupce_ p, .sloupce_ ul, .sloupce_ blockquote{width:60%; display:inline-block;  vertical-align:top;}

.sloupce_ blockquote p {width:95%;}

.sloupce_ blockquote ul  {width:95%;}

blockquote {display:inline-block; padding:2px; margin:5px; width:100%; box-sizing:border-box;}

blockquote p {margin:5px;}

sloupce div {display:inline-block;}


.sloupce3{-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;}
.sloupce4{-moz-column-count:4; /* Firefox */
-webkit-column-count:4; /* Safari and Chrome */
column-count:4;}
.sloupce5{-moz-column-count:5; /* Firefox */
-webkit-column-count:5; /* Safari and Chrome */
column-count:5;}
.sloupce6{-moz-column-count:6; /* Firefox */
-webkit-column-count:6; /* Safari and Chrome */
column-count:6;}
.sloupce4 ul li {display:inline-block; max-width:100%;}


.obtekat {max-width:40%; vertical-align:top; float: right;}


.definicename {background-color:#006131; color:#cccccc; font-weight:bold; padding:3px; margin:0px;}

blockquote {padding: 0px;}
blockquote p {padding: 2px;}

.veta {background-color:#ffffb3; border-color:#ffcc00; box-sizing:border-box;}

.vetaname {background-color:#ffcc00; color:#006131; font-weight:bold; padding:3px; margin:0px;box-sizing:border-box;}


.poznamkaname {color:#cccccc; background-color:#006131; font-weight:bold; padding:3px; margin:0px; font-weight: bold; box-sizing:border-box;}

.poznamka {background-color:#eeeeee; border-color:#006131;box-sizing:border-box;}

li ul li { font-size: 85%; font-style: normal; }

.poznamka {font-style: normal; }

.priklad {font-style: normal; background-color:#eeeeee; border-style:none;}

.prikladname {font-weight:bold;}


a[href*="sagecell"] {
    background: transparent url(sage18.png) center right no-repeat;
    padding-right: 20px;
}


.tlacitko {background-color:#006131; width:90%;display:inline-block;padding:5px; font-weight:bold; color:white;}
.tlacitko img {width:30px; float:left; vertical-align: middle;}
.tlacitko {display:none;}


body {background: #eeeeee; max-width:1000px; margin:auto; padding:30px;}
.obtekat {max-width:60%}
figcaption {font-size: 60%;}

#TOC ul li {font-size: 85%; display:inline;}
#TOC ul li:after { content: " \00b7 "; }
#TOC ul li ul {display:none;}
#TOC a {text-decoration:none;}


.WWotazka {
    margin-left:auto;
    margin-right: 0px;
    font-weight:bold;
    color:white;
    background-color:#006131;
    padding:3px;
    padding-left:8px;
    padding-right:8px;
    text-decoration:none;
    margin-top:2px;
    margin-bottom:2px;
    display:inline-block;
}


.WWotazka:visited {
    text-decoration:none;
}


.menu-obalka{width:100%;
    font-weight:bold;
    color:white;
    display:block;    clear:both;}

.menu {display:inline-block; width:7.14%;text-align:center; color:white; text-decoration:none; border-style:solid; border-color:#eeeeee;box-sizing:border-box;     background-color:#006131; border-width:1px;}

.ACTIVE {color:white; background-color:#E41F1F;}

blockquote {margin-left:0px; margin-right:0px;box-sizing:border-box; }


.motivace {width:100px; float:left; text-align:center; background-color:#E41F1F; border-style:solid; border-color: #E41F1F; margin-right:10px;}

.motivace .popisek {color:white; text-decoration:none;}

 @media only screen and (min-width: 1300px) {
   .mmmmmmmmotivace {position:relative; left:-120px;}
}

